* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.welcome {
  color: rgb(51, 31, 1);
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(51, 31, 1);
  background-color: rgb(172, 226, 198);
}

a {
  text-decoration: none;
  color: rgb(172, 226, 198);
  font-weight: bold;
  transition: color .1s;
  margin: 0px 15px;
}

a:hover {
  color: whitesmoke;
}

h1 a {
  text-decoration: none;
  color: rgb(51, 31, 1);
  font-weight: bold;
  transition: color .1s;
}

h1 a:hover {
  color: rgba(51, 31, 1, 0.5);
}

button {
  background-color: rgb(51, 31, 1);
  border: 0;
  padding: 1%;
  color: rgb(172, 226, 198);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(51, 31, 1, 0.5);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid rgb(51, 31, 1);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: rgb(51, 31, 1);
}

.h1-wrapper {
  background-color: rgb(172, 226, 198);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(218, 233, 225);
  border: 1px solid rgb(167, 202, 183);
  margin: 30px 20px;
}

header nav {
  color:rgb(172, 226, 198);
}

header h1 {
  color:rgb(51, 31, 1);
  margin-left: 10px;
  margin-right: 10px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  color: rgb(172, 226, 198);
}

.btn-no-style:hover {
  background: none;
  color: whitesmoke;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: rgb(51, 31, 1);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  color: white;
}

.edit-link:hover {
  opacity: .5;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

#comment-name {
  color: white;
}

#comment-name:hover {
  opacity: .5;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .7;
  font-weight: normal;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

.post-wrapper {
  border: 3px solid rgb(51, 31, 1);
  min-height: 125px;
  width: 100%;
  margin-bottom: 25px;
}

.post-wrapper p {
  color: rgb(51, 31, 1);
  margin: 10px 15px;
}

.postTitle-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(51, 31, 1);
  width: 100%;
}

.postTitle-wrapper h3 a {
  color: rgb(172, 226, 198);
}

.postTitle-wrapper div {
  color: rgb(172, 226, 198);
}

.postTitle-wrapper h3 a:hover {
  color: whitesmoke;
}

.comments-area:hover {
  color: rgba(128, 128, 128, 0.3);
}

.new-post-form input {
  width: 300px;
}

#post-content {
  width: 600px;
  min-height: 250px;
}

.user-name {
  margin-bottom: 20px;
}

.user-name span {
  font-weight: bold;
  font-size: larger;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  background-color: rgb(51, 31, 1);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-weight: bold;
  color: rgb(172, 226, 198);
}